CheckApplicantForCompliance/web/WEB-INF/AdditionalParameters.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.fairisaac.dms.fiom.apm.workflow.omentrylibrary">
	<xsd:complexType name="AdditionalParameters">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="key" type="xsd:string"/>
			<xsd:element minOccurs="0" name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>